// color swatches
//@green: #72C267;
@green: #73c167;
@blue: #3697BA;
@darkblue: #006993;
@black: #404040;


/*** HEADER ***/

.uw-search-bar-container {
  .radio {
    &.checked {
      color: @darkblue;
      .second-icon {
        color: @darkblue;
      }
      .fui-radio-checked {
        &:before {
          background-position: -404px -25px;
        }
      }
      .fui-radio-unchecked {
        &:before {
          background-position: -380px -25px;
        }
      }
    }
  }
}

.uw-thinstrip {
  background: @white;
  .uw-patch {
    display: none;
  }
  .uw-wordmark {
    background: url(assets/png/Global_WACh_Logo_Wide.png) no-repeat 0 0 transparent;
    background-size: contain;
    left: 1rem;
    width: 335px;
    height: 40px;
    top: 3px;
    /* DGH wordmark switch */
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      background: url(assets/png/Global_WACh_Logo_Wide.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 360px;
      height: 75px;
      top: -18px;
      left: 0;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      background: url(assets/png/Global_WACh_Logo_Wide.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 390px;
      top: -20px;
      height: 85px;
      left: 0;
      transform: none;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1439px) {
      background: url(assets/png/Global_WACh_Logo_Wide.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 390px;
      top: -20px;
      height: 85px;
      left: 0;
      transform: none;
    }
    @media only screen and (min-width: 1440px) {
      background: url(assets/png/Global_WACh_Logo_Wide.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 450px;
      top: -20px;
      height: 85px;
      left: 0;
    }
  }
  #search-quicklinks {
    min-width: auto !important;
  }
  button.uw-search {
    border-color: @darkblue;
    background-color: @green;
    &:hover,
    &:focus {
      border-color: @darkblue;
      background-color: @blue;
    }
    @media only screen and (max-width: 767px) {
      right: 0;
    }
  }
  button.uw-quicklinks {
    background-image: none;
    background-color: @green;
    border-top: 2px solid @darkblue;
    border-left: 2px solid @darkblue;
    border-bottom: 2px solid @darkblue;
    // -webkit-transform: skewX(-25deg) skewY(0);
    // -o-transform: skewX(-25deg) skewY(0);
    // transform: skewX(-25deg) skewY(0);
    // -webkit-transform: skew(-25deg,0);
    // -ms-transform: skewX(-25deg) skewY(0);
    // transform: skew(-25deg,0);
  }
  //mixin
  .thinlinks_pseudo(){
    color: @darkblue;
    &:hover,
    &:focus {
      color: @blue;
    }
    &:after {
      right: 12px;
      background: none;
      border-right: 1px solid @green;
      -webkit-transform: skewX(-25deg) skewY(0);
      -o-transform: skewX(-25deg) skewY(0);
      transform: skewX(-25deg) skewY(0);
      -webkit-transform: skew(-25deg,0);
      -ms-transform: skewX(-25deg) skewY(0);
      transform: skew(-25deg,0);
    }
  }
  ul.uw-thin-links {
    li {
      a {
        .thinlinks_pseudo;
      }
      button {
        .thinlinks_pseudo;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      &:before {
        background-color: @white;
      }
    }
  }
}

/*** MENU ***/
#dawgdrops {
  background-color: @ultralightgray;
}
.dawgdrops-menu {
  border-top: 4px solid @green;
  li {
    a {
      color: @darkblue;
      &:hover,
      &:focus {
        color: @blue !important;
        background-color: @lightgray !important;
      }
    }
  }
}
.dawgdrops-item {
  a {
    color: @darkblue;
    &:hover,
    &:focus {
      color: @blue !important;
    }
  }
}


/* mobile menu */
ul.uw-mobile-menu {
  li.pagenav {
    ul {
      li.current_page_parent {
        background-color: @darkblue;
      }
      li.current_page_item {
        background-color: @darkblue;
      }
      li.current_page_parent.current_page_ancestor {
        > a {
          &:hover {
            color: @blue;
          }
          &:focus {
            color: @blue;
          }
        }
      }
    }
  }
  > div {
    ul {
      li {
        a {
          color: @darkgray;
        }
      }
      li.current_page_parent.current_page_ancestor {
        a {
          &:hover {
            color: @green;
          }
        }
      }
      li.current_page_item {
        background-color: @darkblue;
        a {
          border-left: 10px solid @green;
        }
      }
      li.current_page_parent {
        background-color: @darkblue;
      }
    }
  }
}
/* mobile button */
@media only screen and (max-width: 768px) {
  #mobile-relative {
    button.uw-mobile-menu-toggle {
      color: @darkgray;
      background: url(assets/svg/caret.svg) no-repeat 20px 25px;
    }
  }
  button#mobile-sidebar-menu {
    color: @darkgray;
    border: 2px solid @darkgray;
  }
  #ham {
    span {
      background: @darkgray;
    }
  }
}

ul.uw-sidebar-menu {
  li.pagenav {
    ul {
      li.current_page_parent {
        background-color: @darkblue;
      }
      li.current_page_parent.current_page_ancestor {
        > a {
          &:hover {
            color: @green;
          }
          &:focus {
            color: @green;
          }
          &:after {
            background-color: @green;
          }
        }
      }
      li.current_page_ancestor {
        ul.children {
          li.current_page_item {
            span {
              border-left: 10px solid @green;
            }
          }
        }
      }
      li.current_page_item {
        background-color: @darkblue;
        span {
          border-left: 10px solid @green;
        }
      }
    }
  }
}

/* breadcrumbs */
.uw-breadcrumbs {
  li.current {
    span {
      color: @green;
    }
  }
}


.udub-slant {
  span {
    background-color: @green !important;
  }
}

/* BODY */

.uw-body {
  h1, h2 {
    color: @darkblue;
  }
  h3, h4, h5, h6 {
    color: @darkgray
  }
  a {
    &:hover,
    &:focus {
      color: @blue;
    }
  }
  .uw-site-title {
    @media only screen and (min-width: 768px) {
      display: none;
    }
    @media only screen and (max-width: 767px) {
      color: @darkblue;
    }
  }
}

/*uw-slideshow */
div.uw-slideshow {
  > div.slide {
    div {
      background-color: @darkblue;
      h3 {
        a {
          &:hover,
          &:focus {
            color: @green !important;
          }
        }
      }
    }
  }
  &.photo-slider {
    > div.slide {
      div {
        background-color: @darkblue;
      }
    }
  }
}

/* searchform */
#searchform {
  #searchsubmit {
    outline: 1px solid @darkgray;
    background-color: @darkblue;
  }
}

/* SIDEBAR */
.uw-sidebar {
  .widgettitle {
    color: @darkblue;
    &::before {
      background-color: @green;
    }
    &::after {
      background-color: @white !important;
    }
  }
}

/* WIDGETS */
.widget {
  &.uw-recent {
    a {
      &.widget-link {
        color: @darkblue;
        &:hover,
        &:focus {
          color: @blue;
        }
      }
    }
  }
}
.contact-widget-inner {
  background-color: @lightgray;
    .widgettitle {
    &::after {
      background-color: @lightgray !important;
    }
  }
}
.cards-widget {
  .default-card {
    background-color: @lightgray;
    h3 {
      color: @darkblue;
      a {
        color: @darkblue;
      }
    }
    a.uw-btn {
      background-color: @darkblue;
      &::before {
        background-color: @darkblue;
      }
    }
  }
  .enhanced-card {
    h3 {
      background-color: @darkblue;
      &::after {
        background-color: @darkblue;
      }
    }
  }
}

/* SHORTCODES */
/* uw button */
a.uw-btn,
a.uw-btn.btn-gray,
button.uw-btn,
button.uw-btn.btn-gray {
  background-color: @lightgray;
  &::before {
    background-color: @darkblue;
  }
  &:hover,
  &:focus {
    &::before {
      background-color: @blue;
    }
  }
}
a.uw-btn.btn-gold,
button.uw-btn.btn-gold {
  background-color: @lightgray;
  &::before {
    background-color: @green;
  }
  &:hover,
  &:focus {
    &::before {
      background-color: @blue;
    }
  }
}

/* uw accordion */
.uw-accordion-shortcode__header {
  color: @darkblue;
}

/* Custom uw-hero-slideshow template */
.page-template-template-slideshow-hero {
  .uw-hero-image.hero-height {
    &.photo-slider {
      .uw-hero-slideshow {
        div.uw-slideshow {
          &.photo-slider {
            div.slide {
              div {
                background-color: @darkblue;
              }
            }
          }
        }
      }
    }
  }
}

/* DGH footer wordmark */
.uw-footer {
  //background: url(assets/footer/footer.jpg) center bottom;
  background-image: none;
  background-color: @ultralightgray;
  background-repeat: no-repeat;
  background-size: cover;
  .footer-wordmark,
  .footer-wordmark:focus,
  .footer-wordmark:hover  {
    background: url(assets/png/Global_WACh_Logo_Wide.png) no-repeat 0px 0px transparent;
    height: 128px;
    width: 360px;
    background-size: 360px;
  }

  h4 {
    color: @darkblue;
    &:before,
    &:after {
      background-color: @darkblue;
    }
  }

  ul.footer-links {
    li {
      a {
        color: @darkblue;
        &:hover,
        &:focus {
          color: @blue;
          &::after {
            color: @darkblue;
          }
        }
      }
    }
  }
  ul.footer-social {
    li {
      a.facebook  {
        background-position: 0px -225px;
        &:hover,
        &:focus {
          background-position: 0px -185px;
        }
      }
      a.twitter  {
        background-position: -46px -225px;
        &:hover,
        &:focus {
          background-position: -46px -185px;
        }
      }
      a.instagram  {
        background-position: -322px -225px;
        &:hover,
        &:focus {
          background-position: -322px -185px;
        }
      }
      a.youtube  {
        background-position: -138px -225px;
        &:hover,
        &:focus {
          background-position: -138px -185px;
        }
      }
      a.linkedin  {
        background-position: -184px -225px;
        &:hover,
        &:focus {
          background-position: -184px -185px;
        }
      }
    }
  }
  p {
    color: @darkblue;
  }
}

a.back-to-top {
  background-color: @green !important;
}

/* make post title links green on listing pages */
body.blog,
body.archive.date,
body.archive.category,
body.archive.tag,
body.search-results {
  #main_content {
    h3 {
      a {
        color: @green;
        &:hover,
        &:focus {
          color: @blue;
        }
      }
    }
  }
}
