/*
Theme Name:   Global WACh
Theme URI:    https://bitbucket.org/uwdgh_elearn/global-wach
Template:     uw-2014
Text Domain:  uwdgh
Author:       dghweb, Department of Global Health - University of Washington
Author URI:   https://depts.washington.edu/dghweb/
Description:  UW Boundless child-theme for the Global Center for Integrated Health of Women, Adolescents, and Children.
Version:      0.4.7.6
Created on:   July 11, 2020
Updated on:   April 16, 2024
Document:     style
Bitbucket Theme URI: https://bitbucket.org/uwdgh_elearn/global-wach
*/
/* uw-2014 style fixes */
.cards-widget .enhanced-card p {
  position: relative;
}
.cards-widget .boundless-card h3 {
  position: relative;
}
.cards-widget .boundless-card p {
  position: relative;
}
/* END uw-2014 style fixes */
/* uw-thinstrip */
.uw-thinstrip .uw-wordmark {
  background: url(assets/png/DeptGlobalHealth_DeptSigs-Stack-White.png) no-repeat 0 0 transparent;
  background-size: contain;
  top: 6px;
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-Left-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 335px;
    top: 9px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-UWLeft-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 360px;
    height: 60px;
    top: 8px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-UWStack-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 390px;
    top: -10px;
    height: 70px;
    left: 150px;
    transform: none;
  }
}
@media only screen and (min-width: 1440px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-UWLeft-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 450px;
    top: -2px;
    height: 70px;
  }
}
/* END uw-thinstrip */
/* dawgdrops class modifier */
.dawgdrops-item--gold a {
  color: #85754d;
}
.dawgdrops-item--gold a:hover,
.dawgdrops-item--gold a:focus {
  color: #4b2e83 !important;
}
/* END dawgdrops */
/* uw-footer */
.uw-footer .footer-wordmark,
.uw-footer .footer-wordmark:focus,
.uw-footer .footer-wordmark:hover {
  background: url(assets/footer/UW-DGH-logo-reversed-centered.png) no-repeat 0px 0px transparent;
  height: 100px;
  background-size: 335px;
}
/* END uw-footer */
/* uw-hero-slideshow */
.page-template-template-slideshow-hero .mobile-menu-wrapper {
  display: none;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .mobile-menu-wrapper {
    display: block;
    margin: 65px 20px -10px 20px;
  }
  .page-template-template-slideshow-hero .mobile-menu-wrapper #mobile-relative {
    margin-top: 0;
  }
  .page-template-template-slideshow-hero .mobile-menu-wrapper #mobile-relative ul.uw-mobile-menu {
    margin-bottom: 0px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height {
  margin-bottom: 40px;
  height: 410px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height {
    height: 350px;
    padding: 0;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow {
  height: 0;
}
@media only screen and (max-width: 767px) {
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow {
  margin-top: 0;
  height: 450px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow {
    height: 390px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide {
    justify-content: initial;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div {
  opacity: 0.9;
  padding-right: 45px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div {
    padding-bottom: 10px;
    padding-right: 90px;
    padding-top: 10px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div h3 a:hover,
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div h3 a:active {
  color: #b7a57a;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div p {
    font-size: 80%;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg {
  margin-left: 60px;
  margin-right: 60px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg {
    margin-left: auto;
    position: absolute;
    top: 0;
    left: 15px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1 {
  padding-top: 40px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1 {
    padding-top: 40px;
    font-size: 45px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1:after {
  height: 450px;
  opacity: 0.1;
  display: none;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1:after {
    height: 390px;
    opacity: 0.1;
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container .udub-slant {
    display: none;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider {
  height: 350px;
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider {
  max-height: 433px !important;
}
@media only screen and (max-width: 599px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider {
    height: 433px !important;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider div.slide div {
  background-color: #4b2e83;
  opacity: 0.9;
  display: initial;
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider .has-text::after {
  display: initial;
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider::after {
  bottom: 43px;
}
@media only screen and (max-width: 599px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider::after {
    width: 200px;
  }
}
.page-template-template-slideshow-hero.activeFullscreen .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider {
  max-height: 100% !important;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-content[role=main] {
    padding-top: 15px;
  }
}
/* END uw-hero-slideshow */
/* template-video-hero */
.page-template-template-video-hero .mobile-menu-wrapper {
  display: none;
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .mobile-menu-wrapper {
    display: block;
    margin: 65px 20px -10px 20px;
  }
  .page-template-template-video-hero .mobile-menu-wrapper #mobile-relative {
    margin-top: 0;
  }
  .page-template-template-video-hero .mobile-menu-wrapper #mobile-relative ul.uw-mobile-menu {
    margin-bottom: 0px;
  }
}
.page-template-template-video-hero .uw-hero-image.hero-height {
  height: 480px;
}
@media only screen and (min-width: 992px) {
  .page-template-template-video-hero .uw-hero-image.hero-height {
    height: 640px;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height {
    padding: 0;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height .uw-hero-video {
    height: 480px;
  }
}
.page-template-template-video-hero .uw-hero-image.hero-height .uw-hero-video video {
  object-fit: cover;
  height: 480px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .page-template-template-video-hero .uw-hero-image.hero-height .uw-hero-video video {
    height: 640px;
  }
}
.page-template-template-video-hero .uw-hero-image.hero-height .video-byline {
  color: #ffffff;
  font-family: "Encode Sans Compressed", sans-serif;
  font-size: 21px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
}
@media only screen and (max-width: 359px) {
  .page-template-template-video-hero .uw-hero-image.hero-height .video-byline {
    line-height: 1.2;
  }
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .page-template-template-video-hero .uw-hero-image.hero-height .video-byline {
    line-height: 1.4;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-bg {
    top: -460px;
    padding: 0 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-bg {
    top: -530px;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-bg {
    top: -650px;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1 {
    font-size: 45px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1 {
    font-size: 60px;
  }
}
.page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1:after {
  height: 480px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1:after {
    height: 670px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1:after {
    height: 520px;
  }
}
@media only screen and (min-width: 992px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1:after {
    height: 640px;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-content[role=main] {
    padding-top: 15px;
  }
}
/* END template-video-hero */
/*** HEADER ***/
.uw-search-bar-container .radio.checked {
  color: #006993;
}
.uw-search-bar-container .radio.checked .second-icon {
  color: #006993;
}
.uw-search-bar-container .radio.checked .fui-radio-checked:before {
  background-position: -404px -25px;
}
.uw-search-bar-container .radio.checked .fui-radio-unchecked:before {
  background-position: -380px -25px;
}
.uw-thinstrip {
  background: #ffffff;
}
.uw-thinstrip .uw-patch {
  display: none;
}
.uw-thinstrip .uw-wordmark {
  background: url(assets/png/Global_WACh_Logo_Wide.png) no-repeat 0 0 transparent;
  background-size: contain;
  left: 1rem;
  width: 335px;
  height: 40px;
  top: 3px;
  /* DGH wordmark switch */
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/Global_WACh_Logo_Wide.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 360px;
    height: 75px;
    top: -18px;
    left: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/Global_WACh_Logo_Wide.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 390px;
    top: -20px;
    height: 85px;
    left: 0;
    transform: none;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/Global_WACh_Logo_Wide.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 390px;
    top: -20px;
    height: 85px;
    left: 0;
    transform: none;
  }
}
@media only screen and (min-width: 1440px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/Global_WACh_Logo_Wide.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 450px;
    top: -20px;
    height: 85px;
    left: 0;
  }
}
.uw-thinstrip #search-quicklinks {
  min-width: auto !important;
}
.uw-thinstrip button.uw-search {
  border-color: #006993;
  background-color: #73c167;
}
.uw-thinstrip button.uw-search:hover,
.uw-thinstrip button.uw-search:focus {
  border-color: #006993;
  background-color: #3697BA;
}
@media only screen and (max-width: 767px) {
  .uw-thinstrip button.uw-search {
    right: 0;
  }
}
.uw-thinstrip button.uw-quicklinks {
  background-image: none;
  background-color: #73c167;
  border-top: 2px solid #006993;
  border-left: 2px solid #006993;
  border-bottom: 2px solid #006993;
}
.uw-thinstrip ul.uw-thin-links li a {
  color: #006993;
}
.uw-thinstrip ul.uw-thin-links li a:hover,
.uw-thinstrip ul.uw-thin-links li a:focus {
  color: #3697BA;
}
.uw-thinstrip ul.uw-thin-links li a:after {
  right: 12px;
  background: none;
  border-right: 1px solid #73c167;
  -webkit-transform: skewX(-25deg) skewY(0);
  -o-transform: skewX(-25deg) skewY(0);
  transform: skewX(-25deg) skewY(0);
  -webkit-transform: skew(-25deg, 0);
  -ms-transform: skewX(-25deg) skewY(0);
  transform: skew(-25deg, 0);
}
.uw-thinstrip ul.uw-thin-links li button {
  color: #006993;
}
.uw-thinstrip ul.uw-thin-links li button:hover,
.uw-thinstrip ul.uw-thin-links li button:focus {
  color: #3697BA;
}
.uw-thinstrip ul.uw-thin-links li button:after {
  right: 12px;
  background: none;
  border-right: 1px solid #73c167;
  -webkit-transform: skewX(-25deg) skewY(0);
  -o-transform: skewX(-25deg) skewY(0);
  transform: skewX(-25deg) skewY(0);
  -webkit-transform: skew(-25deg, 0);
  -ms-transform: skewX(-25deg) skewY(0);
  transform: skew(-25deg, 0);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .uw-thinstrip ul.uw-thin-links:before {
    background-color: #ffffff;
  }
}
/*** MENU ***/
#dawgdrops {
  background-color: #f5f5f5;
}
.dawgdrops-menu {
  border-top: 4px solid #73c167;
}
.dawgdrops-menu li a {
  color: #006993;
}
.dawgdrops-menu li a:hover,
.dawgdrops-menu li a:focus {
  color: #3697BA !important;
  background-color: #eeeeee !important;
}
.dawgdrops-item a {
  color: #006993;
}
.dawgdrops-item a:hover,
.dawgdrops-item a:focus {
  color: #3697BA !important;
}
/* mobile menu */
ul.uw-mobile-menu li.pagenav ul li.current_page_parent {
  background-color: #006993;
}
ul.uw-mobile-menu li.pagenav ul li.current_page_item {
  background-color: #006993;
}
ul.uw-mobile-menu li.pagenav ul li.current_page_parent.current_page_ancestor > a:hover {
  color: #3697BA;
}
ul.uw-mobile-menu li.pagenav ul li.current_page_parent.current_page_ancestor > a:focus {
  color: #3697BA;
}
ul.uw-mobile-menu > div ul li a {
  color: #5A5A5A;
}
ul.uw-mobile-menu > div ul li.current_page_parent.current_page_ancestor a:hover {
  color: #73c167;
}
ul.uw-mobile-menu > div ul li.current_page_item {
  background-color: #006993;
}
ul.uw-mobile-menu > div ul li.current_page_item a {
  border-left: 10px solid #73c167;
}
ul.uw-mobile-menu > div ul li.current_page_parent {
  background-color: #006993;
}
/* mobile button */
@media only screen and (max-width: 768px) {
  #mobile-relative button.uw-mobile-menu-toggle {
    color: #5A5A5A;
    background: url(assets/svg/caret.svg) no-repeat 20px 25px;
  }
  button#mobile-sidebar-menu {
    color: #5A5A5A;
    border: 2px solid #5A5A5A;
  }
  #ham span {
    background: #5A5A5A;
  }
}
ul.uw-sidebar-menu li.pagenav ul li.current_page_parent {
  background-color: #006993;
}
ul.uw-sidebar-menu li.pagenav ul li.current_page_parent.current_page_ancestor > a:hover {
  color: #73c167;
}
ul.uw-sidebar-menu li.pagenav ul li.current_page_parent.current_page_ancestor > a:focus {
  color: #73c167;
}
ul.uw-sidebar-menu li.pagenav ul li.current_page_parent.current_page_ancestor > a:after {
  background-color: #73c167;
}
ul.uw-sidebar-menu li.pagenav ul li.current_page_ancestor ul.children li.current_page_item span {
  border-left: 10px solid #73c167;
}
ul.uw-sidebar-menu li.pagenav ul li.current_page_item {
  background-color: #006993;
}
ul.uw-sidebar-menu li.pagenav ul li.current_page_item span {
  border-left: 10px solid #73c167;
}
/* breadcrumbs */
.uw-breadcrumbs li.current span {
  color: #73c167;
}
.udub-slant span {
  background-color: #73c167 !important;
}
/* BODY */
.uw-body h1,
.uw-body h2 {
  color: #006993;
}
.uw-body h3,
.uw-body h4,
.uw-body h5,
.uw-body h6 {
  color: #5A5A5A;
}
.uw-body a:hover,
.uw-body a:focus {
  color: #3697BA;
}
@media only screen and (min-width: 768px) {
  .uw-body .uw-site-title {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .uw-body .uw-site-title {
    color: #006993;
  }
}
/*uw-slideshow */
div.uw-slideshow > div.slide div {
  background-color: #006993;
}
div.uw-slideshow > div.slide div h3 a:hover,
div.uw-slideshow > div.slide div h3 a:focus {
  color: #73c167 !important;
}
div.uw-slideshow.photo-slider > div.slide div {
  background-color: #006993;
}
/* searchform */
#searchform #searchsubmit {
  outline: 1px solid #5A5A5A;
  background-color: #006993;
}
/* SIDEBAR */
.uw-sidebar .widgettitle {
  color: #006993;
}
.uw-sidebar .widgettitle::before {
  background-color: #73c167;
}
.uw-sidebar .widgettitle::after {
  background-color: #ffffff !important;
}
/* WIDGETS */
.widget.uw-recent a.widget-link {
  color: #006993;
}
.widget.uw-recent a.widget-link:hover,
.widget.uw-recent a.widget-link:focus {
  color: #3697BA;
}
.contact-widget-inner {
  background-color: #eeeeee;
}
.contact-widget-inner .widgettitle::after {
  background-color: #eeeeee !important;
}
.cards-widget .default-card {
  background-color: #eeeeee;
}
.cards-widget .default-card h3 {
  color: #006993;
}
.cards-widget .default-card h3 a {
  color: #006993;
}
.cards-widget .default-card a.uw-btn {
  background-color: #006993;
}
.cards-widget .default-card a.uw-btn::before {
  background-color: #006993;
}
.cards-widget .enhanced-card h3 {
  background-color: #006993;
}
.cards-widget .enhanced-card h3::after {
  background-color: #006993;
}
/* SHORTCODES */
/* uw button */
a.uw-btn,
a.uw-btn.btn-gray,
button.uw-btn,
button.uw-btn.btn-gray {
  background-color: #eeeeee;
}
a.uw-btn::before,
a.uw-btn.btn-gray::before,
button.uw-btn::before,
button.uw-btn.btn-gray::before {
  background-color: #006993;
}
a.uw-btn:hover::before,
a.uw-btn.btn-gray:hover::before,
button.uw-btn:hover::before,
button.uw-btn.btn-gray:hover::before,
a.uw-btn:focus::before,
a.uw-btn.btn-gray:focus::before,
button.uw-btn:focus::before,
button.uw-btn.btn-gray:focus::before {
  background-color: #3697BA;
}
a.uw-btn.btn-gold,
button.uw-btn.btn-gold {
  background-color: #eeeeee;
}
a.uw-btn.btn-gold::before,
button.uw-btn.btn-gold::before {
  background-color: #73c167;
}
a.uw-btn.btn-gold:hover::before,
button.uw-btn.btn-gold:hover::before,
a.uw-btn.btn-gold:focus::before,
button.uw-btn.btn-gold:focus::before {
  background-color: #3697BA;
}
/* uw accordion */
.uw-accordion-shortcode__header {
  color: #006993;
}
/* Custom uw-hero-slideshow template */
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider div.slide div {
  background-color: #006993;
}
/* DGH footer wordmark */
.uw-footer {
  background-image: none;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
}
.uw-footer .footer-wordmark,
.uw-footer .footer-wordmark:focus,
.uw-footer .footer-wordmark:hover {
  background: url(assets/png/Global_WACh_Logo_Wide.png) no-repeat 0px 0px transparent;
  height: 128px;
  width: 360px;
  background-size: 360px;
}
.uw-footer h4 {
  color: #006993;
}
.uw-footer h4:before,
.uw-footer h4:after {
  background-color: #006993;
}
.uw-footer ul.footer-links li a {
  color: #006993;
}
.uw-footer ul.footer-links li a:hover,
.uw-footer ul.footer-links li a:focus {
  color: #3697BA;
}
.uw-footer ul.footer-links li a:hover::after,
.uw-footer ul.footer-links li a:focus::after {
  color: #006993;
}
.uw-footer ul.footer-social li a.facebook {
  background-position: 0px -225px;
}
.uw-footer ul.footer-social li a.facebook:hover,
.uw-footer ul.footer-social li a.facebook:focus {
  background-position: 0px -185px;
}
.uw-footer ul.footer-social li a.twitter {
  background-position: -46px -225px;
}
.uw-footer ul.footer-social li a.twitter:hover,
.uw-footer ul.footer-social li a.twitter:focus {
  background-position: -46px -185px;
}
.uw-footer ul.footer-social li a.instagram {
  background-position: -322px -225px;
}
.uw-footer ul.footer-social li a.instagram:hover,
.uw-footer ul.footer-social li a.instagram:focus {
  background-position: -322px -185px;
}
.uw-footer ul.footer-social li a.youtube {
  background-position: -138px -225px;
}
.uw-footer ul.footer-social li a.youtube:hover,
.uw-footer ul.footer-social li a.youtube:focus {
  background-position: -138px -185px;
}
.uw-footer ul.footer-social li a.linkedin {
  background-position: -184px -225px;
}
.uw-footer ul.footer-social li a.linkedin:hover,
.uw-footer ul.footer-social li a.linkedin:focus {
  background-position: -184px -185px;
}
.uw-footer p {
  color: #006993;
}
a.back-to-top {
  background-color: #73c167 !important;
}
/* make post title links green on listing pages */
body.blog #main_content h3 a,
body.archive.date #main_content h3 a,
body.archive.category #main_content h3 a,
body.archive.tag #main_content h3 a,
body.search-results #main_content h3 a {
  color: #73c167;
}
body.blog #main_content h3 a:hover,
body.archive.date #main_content h3 a:hover,
body.archive.category #main_content h3 a:hover,
body.archive.tag #main_content h3 a:hover,
body.search-results #main_content h3 a:hover,
body.blog #main_content h3 a:focus,
body.archive.date #main_content h3 a:focus,
body.archive.category #main_content h3 a:focus,
body.archive.tag #main_content h3 a:focus,
body.search-results #main_content h3 a:focus {
  color: #3697BA;
}
